{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Fontr  Awesonwe -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Favicom -->
    <link rel="shortcut icon" href={%  static "img/favicon.ico" %}>
    <!-- logo -->
    <link rel="shortcut icon" href={%  static "img/logo.ico" %}>
    <!-- static csssss -->
    <link rel="stylesheet" href={%  static "css/style.css" %}>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <!-- Block content (Root) -->
        <!-- NAvbart -->
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark navbar {% block navbar %}{% endblock navbar %}">
                <a class="navbar-brand flex-grow-1 text-center ">
                    
                    {% block nav-content %}
                        <i class="fas fa-user-friends" >  </i>  &nbsp;&nbsp; Lista de Candidatos          
                    {% endblock nav-content %}
                        
                   
                 </a>
            </nav>
        </div>

        {% block content %}{% endblock content %}
            
        <!--  -->
    </div>
    <!-- Footer -->
    <footer class="bg-dark text-center text-lg-start" id="footer" style="color:#fff">
        <div class="text-center p-3" style="background-color:rgba(0,0,0,0.2) ">
            &copy; {% now "y" %} Copyright:
            <a class="text-light" style="text-decoration:none;">

                <span  {% block footer %} style="color: #89cff0;" {% endblock footer %}> 
                   www.esteesmisitioweb.com
                </span>
            </a>
        </div>
    </footer>

    <!-- bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>