{% extends 'App/candidate_list.html' %}



{% block navbar %}
    bg-danger
{% endblock navbar %}
    
<!-- Navar Content -->

{% block nav-content %}
  <i class="fas fa-user-times"></i>&nbsp;&nbsp; Delete Candidate
{% endblock nav-content %}


<!-- Footer -->


{% block footer %}
    style="color:#ff7f7f;"
{% endblock footer %}
    



<!-- Page content -->


{% block content %}
    <br>
    <div class="container mt-5" style="width:450px">
        <div class="card p-3 border-dark">
            <h6 class="modal-title">
                <i class="fas fa-trash-alt"></i> &nbsp;&nbsp; Delete Candidate
            </h6>
            <hr>
            <div class="text-center text-danger"> <i class="far fa-times-circle fa-5x mb-4 mt-2"></i> </div>
            <div class="text-center text-danger">
                <span>Esta seguro de eliminar este candidato</span>
                <div class="text-dark mt-3 mb-2">CAndidate: <strong>{{candidate.name}}</strong></div>
            </div>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <input class="btn btn-outline-danger btn-sm ms-2" type="submit" value="Delete" style ="float:right;">
                <a href="{% url 'read' %}" class="btn btn-secondary btn-sm" style="float:right;">Cancel</a>
            </form>
        </div>
        <br><hr><br>
        <span>
            If you  Proced , no podra ser recuperado
        </span>
    </div>
{% endblock content %}
    